@model RentaCar.Areas.Admin.Models.Cars

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cars</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Available)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Available)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @if (Model.Image != null)
            {
                <img src="~/images/@Model.Image" width="300" />
            }
            else
            {
                @: No image
            }
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success p-1" asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a class="btn btn-dark text-light p-1" asp-action="Index">Back to List</a>
</div>
